#mobilestore{
  color:red;
}

.marquee{
  color:blue;
}

.card{
  display: flex;
  flex-direction: row;
}

.cardbody{
  border:2px solid blue;
  border-radius: 5%;
  padding: 2%;
  margin:1%;
  text-align:center;


}

button{
  color:blue;
  background-color: pink;
}

@media only screen and (min-width:320px) and (max-width:480px) {
  .cardbody{
   border:2px solid lightgray;
   width:%;
   background-color:skyblue;

  }
}
